# Environment variables for Razorpay integration
NEXT_PUBLIC_RAZORPAY_KEY_ID="your_razorpay_key_id_here"
RAZORPAY_KEY_SECRET="your_razorpay_key_secret_here"
RAZORPAY_WEBHOOK_SECRET="your_webhook_secret_here"

# clerk secret key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your_clerk_publishable_key_here"
CLERK_SECRET_KEY="your_clerk_secret_key_here"

# clerk webhook secret
CLERK_WEBHOOK_SECRET="your_clerk_webhook_secret_here"

# Neon postgres database connection string
DATABASE_URL="your_neon_database_connection_string_here"

# Next.js environment variables for development and production
# NEXT_PUBLIC_DEVELOPMENT_URL="https://your-ngrok-url"


NEXT_PUBLIC_BASE_URL="http://localhost:3000"
